# Workflow:
 * Data --> preprocessing --> apply model --> devlop a wesite --> deploy

It contain 4 stage.

# Dataset use:
* tmdb_5000_credits.csv
* tmdb_5000_movie.csv

# Dataset Link:
https://www.kaggle.com/datasets/tmdb/tmdb-movie-metadata?resource=download

In [1]:
# importing lib..
import numpy as np
import pandas as pd
import ast
!pip install nltk
import nltk

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: nltk in /home/abhimanyu/.local/lib/python3.10/site-packages (3.8.1)
Requirement already satisfied: tqdm in /home/abhimanyu/.local/lib/python3.10/site-packages (from nltk) (4.66.2)
Requirement already satisfied: joblib in /home/abhimanyu/.local/lib/python3.10/site-packages (from nltk) (1.3.2)
Requirement already satisfied: regex>=2021.8.3 in /home/abhimanyu/.local/lib/python3.10/site-packages (from nltk) (2023.12.25)
Requirement already satisfied: click in /usr/lib/python3/dist-packages (from nltk) (8.0.3)

In [2]:
movies = pd.read_csv('/home/abhimanyu/Desktop/ML project/Movie_recommender_system/tmdb_5000_movies.csv')
credits = pd.read_csv('/home/abhimanyu/Desktop/ML project/Movie_recommender_system/tmdb_5000_credits.csv')

In [3]:
movies.head()

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800
1,300000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://disney.go.com/disneypictures/pirates/,285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2007-05-19,961000000,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500
2,245000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.sonypictures.com/movies/spectre/,206647,"[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...",en,Spectre,A cryptic message from Bond’s past sends him o...,107.376788,"[{""name"": ""Columbia Pictures"", ""id"": 5}, {""nam...","[{""iso_3166_1"": ""GB"", ""name"": ""United Kingdom""...",2015-10-26,880674609,148.0,"[{""iso_639_1"": ""fr"", ""name"": ""Fran\u00e7ais""},...",Released,A Plan No One Escapes,Spectre,6.3,4466
3,250000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",http://www.thedarkknightrises.com/,49026,"[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...",en,The Dark Knight Rises,Following the death of District Attorney Harve...,112.312950,"[{""name"": ""Legendary Pictures"", ""id"": 923}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-07-16,1084939099,165.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,The Legend Ends,The Dark Knight Rises,7.6,9106
4,260000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://movies.disney.com/john-carter,49529,"[{""id"": 818, ""name"": ""based on novel""}, {""id"":...",en,John Carter,"John Carter is a war-weary, former military ca...",43.926995,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}]","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-03-07,284139100,132.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"Lost in our world, found in another.",John Carter,6.1,2124

In [4]:
credits.head()

,movie_id,title,cast,crew
0,19995,Avatar,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,Spectre,"[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,The Dark Knight Rises,"[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,John Carter,"[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

In [5]:
credits.head(1)

,movie_id,title,cast,crew
0,19995,Avatar,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."

In [6]:
movies = movies.merge(credits, on='title')

In [7]:
movies.merge(credits, on='title').shape

(4821, 26)

In [8]:
movies.head(1)

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,...,runtime,spoken_languages,status,tagline,title,vote_average,vote_count,movie_id,cast,crew
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...",...,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800,19995,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."

In [9]:
# genres
# id
# keywords
# titile
# overview
# cast
# crew

movies = movies[['movie_id','title','overview','genres','keywords','cast','crew']]

In [10]:
movies.head()

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...","[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...","[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...","[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,Spectre,A cryptic message from Bond’s past sends him o...,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...","[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,The Dark Knight Rises,Following the death of District Attorney Harve...,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...","[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...","[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,John Carter,"John Carter is a war-weary, former military ca...","[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 818, ""name"": ""based on novel""}, {""id"":...","[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

This is our main data.

In [11]:
movies.isnull().sum()

movie_id    0
title       0
overview    3
genres      0
keywords    0
cast        0
crew        0
dtype: int64

In [12]:
movies.dropna(inplace = True)

In [13]:
movies.duplicated().sum()

0

In [14]:
movies.iloc[0].genres

'[{"id": 28, "name": "Action"}, {"id": 12, "name": "Adventure"}, {"id": 14, "name": "Fantasy"}, {"id": 878, "name": "Science Fiction"}]'

Here we see it is totally diffrent formate

In [15]:
# '[{"id": 28, "name": "Action"}, {"id": 12, "name": "Adventure"}, {"id": 14, "name": "Fantasy"}, {"id": 878, "name": "Science Fiction"}]'
# change the formate
# The formate is 
# ['Action', Adventure','Fantasy','scifi']

In [16]:
def convert(obj):
    L = []
    for i in ast.literal_eval(obj):
        L.append(i['name'])
    return L

In [17]:
movies['genres'].apply(convert)

0       [Action, Adventure, Fantasy, Science Fiction]
1                        [Adventure, Fantasy, Action]
2                          [Action, Adventure, Crime]
3                    [Action, Crime, Drama, Thriller]
4                [Action, Adventure, Science Fiction]
                            ...
4804                        [Action, Crime, Thriller]
4805                                [Comedy, Romance]
4806               [Comedy, Drama, Romance, TV Movie]
4807                                               []
4808                                    [Documentary]
Name: genres, Length: 4806, dtype: object

In [18]:
movies['genres'] = movies['genres'].apply(convert)

In [19]:
movies.head()

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[Action, Adventure, Fantasy, Science Fiction]","[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...","[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[Adventure, Fantasy, Action]","[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...","[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,Spectre,A cryptic message from Bond’s past sends him o...,"[Action, Adventure, Crime]","[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...","[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,The Dark Knight Rises,Following the death of District Attorney Harve...,"[Action, Crime, Drama, Thriller]","[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...","[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,John Carter,"John Carter is a war-weary, former military ca...","[Action, Adventure, Science Fiction]","[{""id"": 818, ""name"": ""based on novel""}, {""id"":...","[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

We do same things for keywords

In [20]:
movies['keywords'].apply(convert)

0       [culture clash, future, space war, space colon...
1       [ocean, drug abuse, exotic island, east india ...
2       [spy, based on novel, secret agent, sequel, mi...
3       [dc comics, crime fighter, terrorist, secret i...
4       [based on novel, mars, medallion, space travel...
                              ...
4804    [united states–mexico barrier, legs, arms, pap...
4805                                                   []
4806    [date, love at first sight, narration, investi...
4807                                                   []
4808            [obsession, camcorder, crush, dream girl]
Name: keywords, Length: 4806, dtype: object

In [21]:
movies['keywords']= movies['keywords'].apply(convert)

In [22]:
movies.head()

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon...","[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[Adventure, Fantasy, Action]","[ocean, drug abuse, exotic island, east india ...","[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,Spectre,A cryptic message from Bond’s past sends him o...,"[Action, Adventure, Crime]","[spy, based on novel, secret agent, sequel, mi...","[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,The Dark Knight Rises,Following the death of District Attorney Harve...,"[Action, Crime, Drama, Thriller]","[dc comics, crime fighter, terrorist, secret i...","[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,John Carter,"John Carter is a war-weary, former military ca...","[Action, Adventure, Science Fiction]","[based on novel, mars, medallion, space travel...","[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

In [23]:
def convert3(obj):
    L = []
    counter = 0
    for i in ast.literal_eval(obj):
        if counter != 3:
           L.append(i['name'])
           counter+=1
        else:
            break
    return L

In [24]:
movies['cast'].apply(convert3)

0        [Sam Worthington, Zoe Saldana, Sigourney Weaver]
1           [Johnny Depp, Orlando Bloom, Keira Knightley]
2            [Daniel Craig, Christoph Waltz, Léa Seydoux]
3            [Christian Bale, Michael Caine, Gary Oldman]
4          [Taylor Kitsch, Lynn Collins, Samantha Morton]
                              ...
4804    [Carlos Gallardo, Jaime de Hoyos, Peter Marqua...
4805         [Edward Burns, Kerry Bishé, Marsha Dietlein]
4806           [Eric Mabius, Kristin Booth, Crystal Lowe]
4807            [Daniel Henney, Eliza Coupe, Bill Paxton]
4808    [Drew Barrymore, Brian Herzlinger, Corey Feldman]
Name: cast, Length: 4806, dtype: object

In [25]:
movies['cast'] = movies['cast'].apply(convert3)

In [26]:
movies.head()

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon...","[Sam Worthington, Zoe Saldana, Sigourney Weaver]","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[Adventure, Fantasy, Action]","[ocean, drug abuse, exotic island, east india ...","[Johnny Depp, Orlando Bloom, Keira Knightley]","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,Spectre,A cryptic message from Bond’s past sends him o...,"[Action, Adventure, Crime]","[spy, based on novel, secret agent, sequel, mi...","[Daniel Craig, Christoph Waltz, Léa Seydoux]","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,The Dark Knight Rises,Following the death of District Attorney Harve...,"[Action, Crime, Drama, Thriller]","[dc comics, crime fighter, terrorist, secret i...","[Christian Bale, Michael Caine, Gary Oldman]","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,John Carter,"John Carter is a war-weary, former military ca...","[Action, Adventure, Science Fiction]","[based on novel, mars, medallion, space travel...","[Taylor Kitsch, Lynn Collins, Samantha Morton]","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

In [27]:
def fetch_director(obj):
    L = []
    for i in ast.literal_eval(obj):
        L.append(i['name'])
        break
    return L

In [28]:
movies['crew'].apply(fetch_director)

0       [Stephen E. Rivkin]
1          [Dariusz Wolski]
2           [Thomas Newman]
3             [Hans Zimmer]
4          [Andrew Stanton]
               ...
4804     [Robert Rodriguez]
4805         [Edward Burns]
4806        [Carla Hetland]
4807          [Daniel Hsia]
4808       [Clark Peterson]
Name: crew, Length: 4806, dtype: object

In [29]:
movies['crew'] = movies['crew'].apply(fetch_director)

In [30]:
movies.head()

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon...","[Sam Worthington, Zoe Saldana, Sigourney Weaver]",[Stephen E. Rivkin]
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[Adventure, Fantasy, Action]","[ocean, drug abuse, exotic island, east india ...","[Johnny Depp, Orlando Bloom, Keira Knightley]",[Dariusz Wolski]
2,206647,Spectre,A cryptic message from Bond’s past sends him o...,"[Action, Adventure, Crime]","[spy, based on novel, secret agent, sequel, mi...","[Daniel Craig, Christoph Waltz, Léa Seydoux]",[Thomas Newman]
3,49026,The Dark Knight Rises,Following the death of District Attorney Harve...,"[Action, Crime, Drama, Thriller]","[dc comics, crime fighter, terrorist, secret i...","[Christian Bale, Michael Caine, Gary Oldman]",[Hans Zimmer]
4,49529,John Carter,"John Carter is a war-weary, former military ca...","[Action, Adventure, Science Fiction]","[based on novel, mars, medallion, space travel...","[Taylor Kitsch, Lynn Collins, Samantha Morton]",[Andrew Stanton]

In [31]:
# The overview column is currently a string column, therefore we've changed it to a list.
movies['overview'].apply(lambda x:x.split())

0       [In, the, 22nd, century,, a, paraplegic, Marin...
1       [Captain, Barbossa,, long, believed, to, be, d...
2       [A, cryptic, message, from, Bond’s, past, send...
3       [Following, the, death, of, District, Attorney...
4       [John, Carter, is, a, war-weary,, former, mili...
                              ...
4804    [El, Mariachi, just, wants, to, play, his, gui...
4805    [A, newlywed, couple's, honeymoon, is, upended...
4806    ["Signed,, Sealed,, Delivered", introduces, a,...
4807    [When, ambitious, New, York, attorney, Sam, is...
4808    [Ever, since, the, second, grade, when, he, fi...
Name: overview, Length: 4806, dtype: object

In [32]:
movies['overview'] = movies['overview'].apply(lambda x:x.split())

In [33]:
movies.head()

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"[In, the, 22nd, century,, a, paraplegic, Marin...","[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon...","[Sam Worthington, Zoe Saldana, Sigourney Weaver]",[Stephen E. Rivkin]
1,285,Pirates of the Caribbean: At World's End,"[Captain, Barbossa,, long, believed, to, be, d...","[Adventure, Fantasy, Action]","[ocean, drug abuse, exotic island, east india ...","[Johnny Depp, Orlando Bloom, Keira Knightley]",[Dariusz Wolski]
2,206647,Spectre,"[A, cryptic, message, from, Bond’s, past, send...","[Action, Adventure, Crime]","[spy, based on novel, secret agent, sequel, mi...","[Daniel Craig, Christoph Waltz, Léa Seydoux]",[Thomas Newman]
3,49026,The Dark Knight Rises,"[Following, the, death, of, District, Attorney...","[Action, Crime, Drama, Thriller]","[dc comics, crime fighter, terrorist, secret i...","[Christian Bale, Michael Caine, Gary Oldman]",[Hans Zimmer]
4,49529,John Carter,"[John, Carter, is, a, war-weary,, former, mili...","[Action, Adventure, Science Fiction]","[based on novel, mars, medallion, space travel...","[Taylor Kitsch, Lynn Collins, Samantha Morton]",[Andrew Stanton]

In [34]:
# Here i create a fincton that remove the whitespace between coulmns
movies['genres'] = movies['genres'].apply(lambda x:[i.replace(" ", "") for i in x])
movies['keywords'] = movies['keywords'].apply(lambda x:[i.replace(" ", "") for i in x])
movies['cast'] = movies['cast'].apply(lambda x:[i.replace(" ", "") for i in x])
movies['crew'] = movies['crew'].apply(lambda x:[i.replace(" ", "") for i in x])

In [35]:
movies.head()

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"[In, the, 22nd, century,, a, paraplegic, Marin...","[Action, Adventure, Fantasy, ScienceFiction]","[cultureclash, future, spacewar, spacecolony, ...","[SamWorthington, ZoeSaldana, SigourneyWeaver]",[StephenE.Rivkin]
1,285,Pirates of the Caribbean: At World's End,"[Captain, Barbossa,, long, believed, to, be, d...","[Adventure, Fantasy, Action]","[ocean, drugabuse, exoticisland, eastindiatrad...","[JohnnyDepp, OrlandoBloom, KeiraKnightley]",[DariuszWolski]
2,206647,Spectre,"[A, cryptic, message, from, Bond’s, past, send...","[Action, Adventure, Crime]","[spy, basedonnovel, secretagent, sequel, mi6, ...","[DanielCraig, ChristophWaltz, LéaSeydoux]",[ThomasNewman]
3,49026,The Dark Knight Rises,"[Following, the, death, of, District, Attorney...","[Action, Crime, Drama, Thriller]","[dccomics, crimefighter, terrorist, secretiden...","[ChristianBale, MichaelCaine, GaryOldman]",[HansZimmer]
4,49529,John Carter,"[John, Carter, is, a, war-weary,, former, mili...","[Action, Adventure, ScienceFiction]","[basedonnovel, mars, medallion, spacetravel, p...","[TaylorKitsch, LynnCollins, SamanthaMorton]",[AndrewStanton]

In [36]:
movies['tags'] = movies['overview'] + movies['genres'] + movies['keywords'] + movies['cast'] + movies['crew']

In [37]:
movies.head()

,movie_id,title,overview,genres,keywords,cast,crew,tags
0,19995,Avatar,"[In, the, 22nd, century,, a, paraplegic, Marin...","[Action, Adventure, Fantasy, ScienceFiction]","[cultureclash, future, spacewar, spacecolony, ...","[SamWorthington, ZoeSaldana, SigourneyWeaver]",[StephenE.Rivkin],"[In, the, 22nd, century,, a, paraplegic, Marin..."
1,285,Pirates of the Caribbean: At World's End,"[Captain, Barbossa,, long, believed, to, be, d...","[Adventure, Fantasy, Action]","[ocean, drugabuse, exoticisland, eastindiatrad...","[JohnnyDepp, OrlandoBloom, KeiraKnightley]",[DariuszWolski],"[Captain, Barbossa,, long, believed, to, be, d..."
2,206647,Spectre,"[A, cryptic, message, from, Bond’s, past, send...","[Action, Adventure, Crime]","[spy, basedonnovel, secretagent, sequel, mi6, ...","[DanielCraig, ChristophWaltz, LéaSeydoux]",[ThomasNewman],"[A, cryptic, message, from, Bond’s, past, send..."
3,49026,The Dark Knight Rises,"[Following, the, death, of, District, Attorney...","[Action, Crime, Drama, Thriller]","[dccomics, crimefighter, terrorist, secretiden...","[ChristianBale, MichaelCaine, GaryOldman]",[HansZimmer],"[Following, the, death, of, District, Attorney..."
4,49529,John Carter,"[John, Carter, is, a, war-weary,, former, mili...","[Action, Adventure, ScienceFiction]","[basedonnovel, mars, medallion, spacetravel, p...","[TaylorKitsch, LynnCollins, SamanthaMorton]",[AndrewStanton],"[John, Carter, is, a, war-weary,, former, mili..."

In [38]:
new_df = movies[['movie_id','title','tags']]

In [39]:
new_df

,movie_id,title,tags
0,19995,Avatar,"[In, the, 22nd, century,, a, paraplegic, Marin..."
1,285,Pirates of the Caribbean: At World's End,"[Captain, Barbossa,, long, believed, to, be, d..."
2,206647,Spectre,"[A, cryptic, message, from, Bond’s, past, send..."
3,49026,The Dark Knight Rises,"[Following, the, death, of, District, Attorney..."
4,49529,John Carter,"[John, Carter, is, a, war-weary,, former, mili..."
...,...,...,...
4804,9367,El Mariachi,"[El, Mariachi, just, wants, to, play, his, gui..."
4805,72766,Newlyweds,"[A, newlywed, couple's, honeymoon, is, upended..."
4806,231617,"Signed, Sealed, Delivered","[""Signed,, Sealed,, Delivered"", introduces, a,..."
4807,126186,Shanghai Calling,"[When, ambitious, New, York, attorney, Sam, is..."
4808,25975,My Date with Drew,"[Ever, since, the, second, grade, when, he, fi..."

In [40]:
new_df['tags'].apply(lambda x:" ".join(x))

0       In the 22nd century, a paraplegic Marine is di...
1       Captain Barbossa, long believed to be dead, ha...
2       A cryptic message from Bond’s past sends him o...
3       Following the death of District Attorney Harve...
4       John Carter is a war-weary, former military ca...
                              ...
4804    El Mariachi just wants to play his guitar and ...
4805    A newlywed couple's honeymoon is upended by th...
4806    "Signed, Sealed, Delivered" introduces a dedic...
4807    When ambitious New York attorney Sam is sent t...
4808    Ever since the second grade when he first saw ...
Name: tags, Length: 4806, dtype: object

In [41]:
new_df['tags'] = new_df['tags'].apply(lambda x:" ".join(x))

/tmp/ipykernel_86218/3089450492.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['tags'] = new_df['tags'].apply(lambda x:" ".join(x))

In [42]:
new_df['tags'][0]

'In the 22nd century, a paraplegic Marine is dispatched to the moon Pandora on a unique mission, but becomes torn between following orders and protecting an alien civilization. Action Adventure Fantasy ScienceFiction cultureclash future spacewar spacecolony society spacetravel futuristic romance space alien tribe alienplanet cgi marine soldier battle loveaffair antiwar powerrelations mindandsoul 3d SamWorthington ZoeSaldana SigourneyWeaver StephenE.Rivkin'

In [43]:
new_df['tags'] = new_df['tags'].apply(lambda x:x.lower())

/tmp/ipykernel_86218/3214958533.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['tags'] = new_df['tags'].apply(lambda x:x.lower())

In [44]:
## We will apply NLTK package here so that the word which has occurred more than once in different ways will appear here as one word.

In [45]:
from nltk.stem.porter import PorterStemmer
ps = PorterStemmer()

In [46]:
# Define the stemmer
def stem(text):
    y=[]
    for i in text.split():
       y.append(ps.stem(i))

    return " ".join(y)

In [47]:
# Apply stemming to the 'tags' column
new_df['tags'] =  new_df['tags'].apply(stem)

/tmp/ipykernel_86218/2626588762.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['tags'] =  new_df['tags'].apply(stem)

In [48]:
new_df['tags'][0]

'in the 22nd century, a parapleg marin is dispatch to the moon pandora on a uniqu mission, but becom torn between follow order and protect an alien civilization. action adventur fantasi sciencefict cultureclash futur spacewar spacecoloni societi spacetravel futurist romanc space alien tribe alienplanet cgi marin soldier battl loveaffair antiwar powerrel mindandsoul 3d samworthington zoesaldana sigourneyweav stephene.rivkin'

In [49]:
new_df.head()

,movie_id,title,tags
0,19995,Avatar,"in the 22nd century, a parapleg marin is dispa..."
1,285,Pirates of the Caribbean: At World's End,"captain barbossa, long believ to be dead, ha c..."
2,206647,Spectre,a cryptic messag from bond’ past send him on a...
3,49026,The Dark Knight Rises,follow the death of district attorney harvey d...
4,49529,John Carter,"john carter is a war-weary, former militari ca..."

In [50]:
!pip install scikit-learn
from sklearn.feature_extraction.text import CountVectorizer

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: scikit-learn in /home/abhimanyu/.local/lib/python3.10/site-packages (1.4.1.post1)
Requirement already satisfied: scipy>=1.6.0 in /usr/lib/python3/dist-packages (from scikit-learn) (1.8.0)
Requirement already satisfied: joblib>=1.2.0 in /home/abhimanyu/.local/lib/python3.10/site-packages (from scikit-learn) (1.3.2)
Requirement already satisfied: numpy<2.0,>=1.19.5 in /usr/lib/python3/dist-packages (from scikit-learn) (1.21.5)
Requirement already satisfied: threadpoolctl>=2.0.0 in /home/abhimanyu/.local/lib/python3.10/site-packages (from scikit-learn) (3.4.0)

In [51]:
cv = CountVectorizer(max_features=5000,stop_words='english')

In [52]:
vectors = cv.fit_transform(new_df['tags']).toarray()

In [53]:
cv.fit_transform(new_df['tags']).toarray().shape

(4806, 5000)

Here we have got all the movies in vector form

In [54]:
vectors[0]

array([0, 0, 0, ..., 0, 0, 0])

In [55]:
cv.get_feature_names_out()

array(['000', '007', '10', ..., 'zone', 'zoo', 'zooeydeschanel'],
      dtype=object)

In [56]:
# Now we have to calculate the distance for each movie.The greater the distance, the less likely the similarity is.
# Here we calculate cosine distance.

In [57]:
from sklearn.metrics.pairwise import cosine_similarity

In [58]:
 cosine_similarity(vectors)

array([[1.        , 0.08238526, 0.08492078, ..., 0.04441156, 0.        ,
        0.        ],
       [0.08238526, 1.        , 0.06063391, ..., 0.02378257, 0.        ,
        0.02615329],
       [0.08492078, 0.06063391, 1.        , ..., 0.02451452, 0.        ,
        0.        ],
       ...,
       [0.04441156, 0.02378257, 0.02451452, ..., 1.        , 0.03962144,
        0.04229549],
       [0.        , 0.        , 0.        , ..., 0.03962144, 1.        ,
        0.08714204],
       [0.        , 0.02615329, 0.        , ..., 0.04229549, 0.08714204,
        1.        ]])

In [59]:
similarity =  cosine_similarity(vectors)

In [60]:
list(enumerate(similarity[0]))

[(0, 1.0000000000000002),
 (1, 0.08238525545716345),
 (2, 0.08492077756084468),
 (3, 0.07252377242938948),
 (4, 0.1849000654084097),
 (5, 0.10699012312772824),
 (6, 0.03942082639927217),
 (7, 0.14322297480788657),
 (8, 0.05847053462046861),
 (9, 0.09548198320525772),
 (10, 0.10256410256410256),
 (11, 0.09443843292997713),
 (12, 0.08920515501750789),
 (13, 0.044844852933087494),
 (14, 0.12659242088545833),
 (15, 0.06201736729460422),
 (16, 0.07692307692307693),
 (17, 0.13693937303317935),
 (18, 0.09370791409872918),
 (19, 0.08200923681047297),
 (20, 0.05706139900145506),
 (21, 0.10826639239215334),
 (22, 0.06537204504606135),
 (23, 0.08627959628145762),
 (24, 0.05264981264926564),
 (25, 0.033757978902788886),
 (26, 0.15191090506255),
 (27, 0.18605210188381263),
 (28, 0.11322770341445956),
 (29, 0.06419407387663695),
 (30, 0.06598588053218755),
 (31, 0.15701857325533194),
 (32, 0.084103426706236),
 (33, 0.09607689228305229),
 (34, 0.0),
 (35, 0.09805806756909202),
 (36, 0.16898159235484367),
 (37, 0.07792865001991967),
 (38, 0.07884165279854434),
 (39, 0.081199794294115),
 (40, 0.07502344849205331),
 (41, 0.16526725762745997),
 (42, 0.0),
 (43, 0.0888231183368655),
 (44, 0.033389028164708894),
 (45, 0.08006407690254357),
 (46, 0.13937366833451514),
 (47, 0.19418390934515437),
 (48, 0.0826898230594723),
 (49, 0.05751973085430508),
 (50, 0.11322770341445956),
 (51, 0.07884165279854434),
 (52, 0.14484136487558028),
 (53, 0.04241898419838518),
 (54, 0.030816677568068284),
 (55, 0.06947334742918748),
 (56, 0.13655774839978377),
 (57, 0.02360960823249428),
 (58, 0.06726727939963124),
 (59, 0.0711680683578165),
 (60, 0.01813094310734737),
 (61, 0.22417941532712204),
 (62, 0.0826898230594723),
 (63, 0.0806970043558403),
 (64, 0.02973505167250263),
 (65, 0.019277164398874672),
 (66, 0.021995293510729184),
 (67, 0.16012815380508713),
 (68, 0.12104550653376048),
 (69, 0.026062088698182603),
 (70, 0.075955452531275),
 (71, 0.07242068243779014),
 (72, 0.13344012817090595),
 (73, 0.032686022523030676),
 (74, 0.19985201625794738),
 (75, 0.10256410256410256),
 (76, 0.07007127538005775),
 (77, 0.014153462926807445),
 (78, 0.050015632328035534),
 (79, 0.0625407298837625),
 (80, 0.049813548138671795),
 (81, 0.10878565864408421),
 (82, 0.07502344849205331),
 (83, 0.177646236673731),
 (84, 0.12104550653376046),
 (85, 0.11265439490322912),
 (86, 0.07007127538005775),
 (87, 0.10984700727621793),
 (88, 0.08770580193070292),
 (89, 0.05683630384789149),
 (90, 0.06052275326688024),
 (91, 0.16477051091432687),
 (92, 0.06150692760785473),
 (93, 0.06933752452815364),
 (94, 0.1849000654084097),
 (95, 0.1386750490563073),
 (96, 0.075955452531275),
 (97, 0.06862635163075162),
 (98, 0.07412493166611012),
 (99, 0.02632490632463282),
 (100, 0.06827887419989188),
 (101, 0.07502344849205331),
 (102, 0.12201777521731262),
 (103, 0.07944581222989573),
 (104, 0.05492350363810897),
 (105, 0.10016708449412667),
 (106, 0.06150692760785473),
 (107, 0.060522753266880225),
 (108, 0.1416576493949657),
 (109, 0.06537204504606135),
 (110, 0.04441155916843275),
 (111, 0.14824986333222023),
 (112, 0.075955452531275),
 (113, 0.042796049251091296),
 (114, 0.04575090108716775),
 (115, 0.04318335170875305),
 (116, 0.04721921646498856),
 (117, 0.05847053462046861),
 (118, 0.03303191599175254),
 (119, 0.042796049251091296),
 (120, 0.0),
 (121, 0.11149893466761211),
 (122, 0.10984700727621793),
 (123, 0.10997646755364592),
 (124, 0.06598588053218755),
 (125, 0.07717081694263092),
 (126, 0.1316245316231641),
 (127, 0.14504754485877894),
 (128, 0.0),
 (129, 0.09245003270420486),
 (130, 0.02632490632463282),
 (131, 0.10256410256410256),
 (132, 0.04399058702145837),
 (133, 0.027066598098038335),
 (134, 0.12561485860426555),
 (135, 0.0),
 (136, 0.022645540682891915),
 (137, 0.0296077061122885),
 (138, 0.12659242088545833),
 (139, 0.1165103456070926),
 (140, 0.04399058702145837),
 (141, 0.08627959628145762),
 (142, 0.08362420100070908),
 (143, 0.08483796839677037),
 (144, 0.04941662111074008),
 (145, 0.019003715589632167),
 (146, 0.015933346823572687),
 (147, 0.05492350363810897),
 (148, 0.09421114395319916),
 (149, 0.15311180047019055),
 (150, 0.16641005886756868),
 (151, 0.20033416898825337),
 (152, 0.08238525545716345),
 (153, 0.07601486235852867),
 (154, 0.06163335513613657),
 (155, 0.02001601922563589),
 (156, 0.05913123959890826),
 (157, 0.10016708449412667),
 (158, 0.1319717610643751),
 (159, 0.06280742930213278),
 (160, 0.11561170597113389),
 (161, 0.030816677568068284),
 (162, 0.09607689228305229),
 (163, 0.05063696835418333),
 (164, 0.07792865001991967),
 (165, 0.04529108136578383),
 (166, 0.12209657262637608),
 (167, 0.08770580193070292),
 (168, 0.17295817388759027),
 (169, 0.0863667034175061),
 (170, 0.105129283382795),
 (171, 0.022422426466543747),
 (172, 0.20483662259967567),
 (173, 0.022875450543583874),
 (174, 0.075955452531275),
 (175, 0.07007127538005775),
 (176, 0.02830692585361489),
 (177, 0.0),
 (178, 0.024419314525275217),
 (179, 0.07161148740394328),
 (180, 0.021790681682020446),
 (181, 0.04399058702145837),
 (182, 0.11437725271791938),
 (183, 0.06906825157099705),
 (184, 0.17505471314812435),
 (185, 0.050015632328035534),
 (186, 0.05825517280354631),
 (187, 0.15191090506255),
 (188, 0.022205779584216375),
 (189, 0.11020775375559674),
 (190, 0.08338763984501665),
 (191, 0.04774099160262886),
 (192, 0.04671418358670517),
 (193, 0.07813453848974924),
 (194, 0.0),
 (195, 0.05847053462046861),
 (196, 0.05063696835418333),
 (197, 0.036496593430090596),
 (198, 0.05661385170722978),
 (199, 0.0863667034175061),
 (200, 0.10482848367219183),
 (201, 0.0),
 (202, 0.030816677568068284),
 (203, 0.08362420100070908),
 (204, 0.04828045495852676),
 (205, 0.0734718358370645),
 (206, 0.10878565864408421),
 (207, 0.07502344849205331),
 (208, 0.12326671027227314),
 (209, 0.06677805632941779),
 (210, 0.07502344849205331),
 (211, 0.02414022747926338),
 (212, 0.06537204504606134),
 (213, 0.05825517280354631),
 (214, 0.0),
 (215, 0.06598588053218755),
 (216, 0.06405126152203486),
 (217, 0.08338763984501665),
 (218, 0.03774256780481986),
 (219, 0.09078412990032037),
 (220, 0.1754116038614058),
 (221, 0.04622501635210243),
 (222, 0.0782510703046739),
 (223, 0.10127393670836667),
 (224, 0.0595843591724218),
 (225, 0.04575090108716775),
 (226, 0.029235267310234306),
 (227, 0.08238525545716345),
 (228, 0.10895340841010223),
 (229, 0.10545808983558423),
 (230, 0.0900791242218625),
 (231, 0.0),
 (232, 0.10984700727621793),
 (233, 0.10016708449412667),
 (234, 0.084103426706236),
 (235, 0.07502344849205331),
 (236, 0.11149893466761211),
 (237, 0.06405126152203486),
 (238, 0.10878565864408421),
 (239, 0.08951435925492911),
 (240, 0.04671418358670517),
 (241, 0.07692307692307693),
 (242, 0.08006407690254357),
 (243, 0.0915018021743355),
 (244, 0.08920515501750789),
 (245, 0.08006407690254357),
 (246, 0.07548513560963972),
 (247, 0.0),
 (248, 0.04399058702145837),
 (249, 0.13355611265883557),
 (250, 0.0),
 (251, 0.04003203845127178),
 (252, 0.02001601922563589),
 (253, 0.06201736729460422),
 (254, 0.06933752452815364),
 (255, 0.0),
 (256, 0.11020775375559674),
 (257, 0.05264981264926564),
 (258, 0.017471413945365305),
 (259, 0.05947010334500526),
 (260, 0.19814848097530424),
 (261, 0.02387049580131443),
 (262, 0.10423454980627081),
 (263, 0.09607689228305229),
 (264, 0.0),
 (265, 0.026688025634181187),
 (266, 0.09656090991705352),
 (267, 0.06405126152203486),
 (268, 0.05128205128205128),
 (269, 0.02875986542715254),
 (270, 0.08716272672808179),
 (271, 0.07007127538005775),
 (272, 0.027874733666903028),
 (273, 0.020672455764868074),
 (274, 0.08861469461982083),
 (275, 0.1437993271357627),
 (276, 0.06163335513613657),
 (277, 0.05272904491779212),
 (278, 0.11678545896676293),
 (279, 0.06933752452815364),
 (280, 0.0),
 (281, 0.06419407387663695),
 (282, 0.021995293510729184),
 (283, 0.027066598098038335),
 (284, 0.017792017089454125),
 (285, 0.019138975058773818),
 (286, 0.07655590023509527),
 (287, 0.02564102564102564),
 (288, 0.027461751819054483),
 (289, 0.04529108136578383),
 (290, 0.06280742930213278),
 (291, 0.04883862905055043),
 (292, 0.08770580193070292),
 (293, 0.02875986542715254),
 (294, 0.13937366833451514),
 (295, 0.10256410256410256),
 (296, 0.038277950117547636),
 (297, 0.04399058702145837),
 (298, 0.0),
 (299, 0.05868830272850543),
 (300, 0.16898159235484367),
 (301, 0.09183979479633063),
 (302, 0.06933752452815364),
 (303, 0.027461751819054483),
 (304, 0.06494054168326639),
 (305, 0.1860521018838127),
 (306, 0.07897471897389846),
 (307, 0.10736246830291345),
 (308, 0.06405126152203486),
 (309, 0.06163335513613657),
 (310, 0.03026137663344012),
 (311, 0.14824986333222023),
 (312, 0.10003126465607107),
 (313, 0.05413319619607667),
 (314, 0.0),
 (315, 0.081199794294115),
 (316, 0.0),
 (317, 0.0),
 (318, 0.0),
 (319, 0.10016708449412667),
 (320, 0.03026137663344012),
 (321, 0.0),
 (322, 0.2051282051282051),
 (323, 0.027874733666903028),
 (324, 0.02470831055537004),
 (325, 0.09805806756909202),
 (326, 0.05661385170722978),
 (327, 0.027066598098038335),
 (328, 0.026688025634181187),
 (329, 0.07692307692307693),
 (330, 0.09767725810110087),
 (331, 0.08968970586617499),
 (332, 0.10826639239215334),
 (333, 0.02360960823249428),
 (334, 0.09342836717341034),
 (335, 0.04529108136578383),
 (336, 0.06537204504606135),
 (337, 0.04441155916843275),
 (338, 0.0),
 (339, 0.04721921646498856),
 (340, 0.04941662111074008),
 (341, 0.08238525545716345),
 (342, 0.16012815380508713),
 (343, 0.01887128390240993),
 (344, 0.029235267310234306),
 (345, 0.022875450543583874),
 (346, 0.0),
 (347, 0.0),
 (348, 0.05947010334500526),
 (349, 0.07792865001991967),
 (350, 0.04828045495852676),
 (351, 0.0),
 (352, 0.027066598098038335),
 (353, 0.04134491152973615),
 (354, 0.021591675854376526),
 (355, 0.03580574370197164),
 (356, 0.08920515501750789),
 (357, 0.0),
 (358, 0.05847053462046861),
 (359, 0.03026137663344012),
 (360, 0.020846909961254163),
 (361, 0.07502344849205331),
 (362, 0.09607689228305229),
 (363, 0.09781383788084239),
 (364, 0.022875450543583874),
 (365, 0.07412493166611012),
 (366, 0.05492350363810897),
 (367, 0.0),
 (368, 0.12810252304406972),
 (369, 0.1235415527768502),
 (370, 0.050015632328035534),
 (371, 0.09548198320525772),
 (372, 0.04671418358670517),
 (373, 0.1706971854997297),
 (374, 0.037483165639491674),
 (375, 0.06100888760865632),
 (376, 0.04575090108716775),
 (377, 0.0),
 (378, 0.0),
 (379, 0.049813548138671795),
 (380, 0.05128205128205128),
 (381, 0.0826898230594723),
 (382, 0.0),
 (383, 0.04241898419838518),
 (384, 0.02830692585361489),
 (385, 0.0),
 (386, 0.021790681682020446),
 (387, 0.02360960823249428),
 (388, 0.0),
 (389, 0.08627959628145762),
 (390, 0.02564102564102564),
 (391, 0.055470019622522904),
 (392, 0.02973505167250263),
 (393, 0.0),
 (394, 0.024419314525275217),
 (395, 0.05063696835418333),
 (396, 0.04318335170875305),
 (397, 0.05063696835418333),
 (398, 0.0),
 (399, 0.023357091793352585),
 (400, 0.08920515501750789),
 (401, 0.03202563076101743),
 (402, 0.07692307692307693),
 (403, 0.0826898230594723),
 (404, 0.05947010334500526),
 (405, 0.05492350363810897),
 (406, 0.020336295869552105),
 (407, 0.020846909961254163),
 (408, 0.03202563076101743),
 (409, 0.0),
 (410, 0.09656090991705352),
 (411, 0.05264981264926564),
 (412, 0.09342836717341034),
 (413, 0.13937366833451514),
 (414, 0.02875986542715254),
 (415, 0.05272904491779212),
 (416, 0.05063696835418333),
 (417, 0.03494282789073061),
 (418, 0.03494282789073061),
 (419, 0.06793662204867575),
 (420, 0.10997646755364592),
 (421, 0.023112508176051216),
 (422, 0.11322770341445956),
 (423, 0.04003203845127178),
 (424, 0.03673591791853225),
 (425, 0.06201736729460422),
 (426, 0.05272904491779212),
 (427, 0.027874733666903028),
 (428, 0.05510387687779837),
 (429, 0.0),
 (430, 0.04941662111074008),
 (431, 0.02360960823249428),
 (432, 0.11102889792108186),
 (433, 0.03026137663344012),
 (434, 0.0),
 (435, 0.03494282789073061),
 (436, 0.0),
 (437, 0.025318484177091666),
 (438, 0.11935247900657214),
 (439, 0.025976216673306556),
 (440, 0.02387049580131443),
 (441, 0.05661385170722978),
 (442, 0.04441155916843275),
 (443, 0.06362847629757777),
 (444, 0.0),
 (445, 0.09656090991705352),
 (446, 0.022875450543583874),
 (447, 0.063077570029677),
 (448, 0.020846909961254163),
 (449, 0.10675210253672475),
 (450, 0.020846909961254163),
 (451, 0.02470831055537004),
 (452, 0.029235267310234306),
 (453, 0.024419314525275217),
 (454, 0.11437725271791938),
 (455, 0.060522753266880225),
 (456, 0.04169381992250833),
 (457, 0.08627959628145762),
 (458, 0.042796049251091296),
 (459, 0.033389028164708894),
 (460, 0.023357091793352585),
 (461, 0.13937366833451514),
 (462, 0.031866693647145374),
 (463, 0.03202563076101743),
 (464, 0.0),
 (465, 0.0),
 (466, 0.13977131156292244),
 (467, 0.10336227882434038),
 (468, 0.081199794294115),
 (469, 0.05913123959890826),
 (470, 0.044844852933087494),
 (471, 0.063077570029677),
 (472, 0.10529962529853128),
 (473, 0.09058216273156766),
 (474, 0.0),
 (475, 0.04318335170875305),
 (476, 0.13355611265883557),
 (477, 0.0),
 (478, 0.053376051268362375),
 (479, 0.08684168428648435),
 (480, 0.09656090991705352),
 (481, 0.0),
 (482, 0.021591675854376526),
 (483, 0.12326671027227314),
 (484, 0.03026137663344012),
 (485, 0.05264981264926564),
 (486, 0.07927524902574902),
 (487, 0.12561485860426555),
 (488, 0.06537204504606135),
 (489, 0.0),
 (490, 0.13977131156292244),
 (491, 0.09781383788084239),
 (492, 0.07502344849205331),
 (493, 0.03026137663344012),
 (494, 0.0),
 (495, 0.1884222879063983),
 (496, 0.0),
 (497, 0.0),
 (498, 0.06537204504606135),
 (499, 0.0),
 (500, 0.025976216673306556),
 (501, 0.0806970043558403),
 (502, 0.1319717610643751),
 (503, 0.07325794357582566),
 (504, 0.0),
 (505, 0.1307440900921227),
 (506, 0.03413943709994594),
 (507, 0.2545139051903111),
 (508, 0.10003126465607107),
 (509, 0.021790681682020446),
 (510, 0.09656090991705352),
 (511, 0.09245003270420485),
 (512, 0.027066598098038335),
 (513, 0.14824986333222023),
 (514, 0.04828045495852676),
 (515, 0.024419314525275217),
 (516, 0.02830692585361489),
 (517, 0.0),
 (518, 0.04318335170875305),
 (519, 0.0),
 (520, 0.0),
 (521, 0.02470831055537004),
 (522, 0.02387049580131443),
 (523, 0.04828045495852676),
 (524, 0.0),
 (525, 0.04575090108716775),
 (526, 0.027461751819054483),
 (527, 0.032686022523030676),
 (528, 0.021995293510729184),
 (529, 0.167093470609201),
 (530, 0.05492350363810897),
 (531, 0.04622501635210243),
 (532, 0.020846909961254163),
 (533, 0.05847053462046861),
 (534, 0.08559209850218259),
 (535, 0.09548198320525772),
 (536, 0.10997646755364593),
 (537, 0.06537204504606135),
 (538, 0.0),
 (539, 0.24715576637149034),
 (540, 0.07412493166611012),
 (541, 0.10423454980627082),
 (542, 0.036496593430090596),
 (543, 0.07792865001991967),
 (544, 0.05492350363810897),
 (545, 0.024419314525275217),
 (546, 0.06280742930213278),
 (547, 0.08362420100070908),
 (548, 0.0),
 (549, 0.11935247900657214),
 (550, 0.024419314525275217),
 (551, 0.03698001308168194),
 (552, 0.0),
 (553, 0.02830692585361489),
 (554, 0.0),
 (555, 0.04422297420116462),
 (556, 0.027461751819054483),
 (557, 0.1207011373963169),
 (558, 0.0),
 (559, 0.029235267310234306),
 (560, 0.03580574370197164),
 (561, 0.03202563076101743),
 (562, 0.03026137663344012),
 (563, 0.02470831055537004),
 (564, 0.08770580193070292),
 (565, 0.04241898419838518),
 (566, 0.023357091793352585),
 (567, 0.024419314525275217),
 (568, 0.13937366833451512),
 (569, 0.04671418358670517),
 (570, 0.06677805632941779),
 (571, 0.04169381992250833),
 (572, 0.10604746049596295),
 (573, 0.020672455764868074),
 (574, 0.023357091793352585),
 (575, 0.04358136336404089),
 (576, 0.05128205128205128),
 (577, 0.19512313566832118),
 (578, 0.03673591791853225),
 (579, 0.1437993271357627),
 (580, 0.02387049580131443),
 (581, 0.14867525836251314),
 (582, 0.2396974985022249),
 (583, 0.037483165639491674),
 (584, 0.08006407690254357),
 (585, 0.02414022747926338),
 (586, 0.04529108136578383),
 (587, 0.07007127538005775),
 (588, 0.02564102564102564),
 (589, 0.11483385035264292),
 (590, 0.02973505167250263),
 (591, 0.06150692760785473),
 (592, 0.020846909961254163),
 (593, 0.0),
 (594, 0.04883862905055043),
 (595, 0.15695698526580623),
 (596, 0.0915018021743355),
 (597, 0.05751973085430508),
 (598, 0.03673591791853225),
 (599, 0.027066598098038335),
 (600, 0.06793662204867575),
 (601, 0.03320903209244786),
 (602, 0.08968970586617499),
 (603, 0.053376051268362375),
 (604, 0.06677805632941779),
 (605, 0.025007816164017767),
 (606, 0.05128205128205128),
 (607, 0.05825517280354631),
 (608, 0.0),
 (609, 0.04575090108716775),
 (610, 0.05751973085430508),
 (611, 0.022875450543583874),
 (612, 0.06201736729460422),
 (613, 0.03494282789073061),
 (614, 0.04828045495852676),
 (615, 0.05947010334500526),
 (616, 0.03413943709994594),
 (617, 0.04883862905055043),
 (618, 0.08716272672808179),
 (619, 0.0),
 (620, 0.0),
 (621, 0.06280742930213278),
 (622, 0.020846909961254163),
 (623, 0.0),
 (624, 0.09805806756909202),
 (625, 0.030816677568068284),
 (626, 0.081199794294115),
 (627, 0.10741723110591492),
 (628, 0.0),
 (629, 0.04721921646498856),
 (630, 0.02387049580131443),
 (631, 0.04883862905055043),
 (632, 0.07502344849205331),
 (633, 0.021995293510729184),
 (634, 0.0716114874039433),
 (635, 0.06598588053218755),
 (636, 0.023112508176051216),
 (637, 0.02387049580131443),
 (638, 0.032686022523030676),
 (639, 0.0),
 (640, 0.05913123959890826),
 (641, 0.0),
 (642, 0.0),
 (643, 0.09883324222148016),
 (644, 0.04941662111074008),
 (645, 0.04399058702145837),
 (646, 0.053376051268362375),
 (647, 0.04774099160262886),
 (648, 0.02973505167250263),
 (649, 0.0),
 (650, 0.05063696835418333),
 (651, 0.0),
 (652, 0.04241898419838518),
 (653, 0.10482848367219183),
 (654, 0.1025115460130912),
 (655, 0.02360960823249428),
 (656, 0.0),
 (657, 0.03413943709994594),
 (658, 0.04774099160262886),
 (659, 0.025007816164017767),
 (660, 0.09078412990032037),
 (661, 0.16401847362094593),
 (662, 0.0),
 (663, 0.0),
 (664, 0.05947010334500526),
 (665, 0.06726727939963124),
 (666, 0.04941662111074008),
 (667, 0.0),
 (668, 0.13355611265883557),
 (669, 0.03494282789073061),
 (670, 0.01736833685729687),
 (671, 0.06661733875264912),
 (672, 0.027874733666903028),
 (673, 0.02001601922563589),
 (674, 0.07007127538005775),
 (675, 0.04441155916843275),
 (676, 0.02830692585361489),
 (677, 0.025007816164017767),
 (678, 0.10984700727621793),
 (679, 0.0),
 (680, 0.07412493166611012),
 (681, 0.027461751819054483),
 (682, 0.019710413199636085),
 (683, 0.04828045495852676),
 (684, 0.0),
 (685, 0.03140371465106639),
 (686, 0.03140371465106639),
 (687, 0.10390486669322622),
 (688, 0.04318335170875305),
 (689, 0.0),
 (690, 0.024419314525275217),
 (691, 0.05751973085430508),
 (692, 0.10795837927188262),
 (693, 0.033389028164708894),
 (694, 0.021591675854376526),
 (695, 0.06677805632941779),
 (696, 0.021398024625545648),
 (697, 0.0),
 (698, 0.04241898419838518),
 (699, 0.03673591791853225),
 (700, 0.02830692585361489),
 (701, 0.055749467333806056),
 (702, 0.022422426466543747),
 (703, 0.02120949209919259),
 (704, 0.06661733875264912),
 (705, 0.023357091793352585),
 (706, 0.021398024625545648),
 (707, 0.0),
 (708, 0.024419314525275217),
 (709, 0.020174251088960076),
 (710, 0.0570111467688965),
 (711, 0.05128205128205128),
 (712, 0.0),
 (713, 0.025007816164017767),
 (714, 0.0),
 (715, 0.09805806756909202),
 (716, 0.026688025634181187),
 (717, 0.0),
 (718, 0.04441155916843275),
 (719, 0.0),
 (720, 0.025976216673306556),
 (721, 0.03140371465106639),
 (722, 0.0),
 (723, 0.02414022747926338),
 (724, 0.023357091793352585),
 (725, 0.0),
 (726, 0.0),
 (727, 0.03026137663344012),
 (728, 0.0716114874039433),
 (729, 0.04774099160262886),
 (730, 0.02973505167250263),
 (731, 0.05128205128205128),
 (732, 0.06726727939963124),
 (733, 0.06004805767690767),
 (734, 0.06537204504606134),
 (735, 0.06537204504606134),
 (736, 0.02875986542715254),
 (737, 0.075955452531275),
 (738, 0.0),
 (739, 0.03774256780481986),

In [61]:
sorted(list(enumerate(similarity[0])), reverse = True , key = lambda x:x[1])[1:5]

[(1216, 0.28306925853614895),
 (3730, 0.25715142542972574),
 (507, 0.2545139051903111),
 (539, 0.24715576637149034)]

In [62]:
def recommend (movie):
    movie_index = new_df[new_df['title'] == movie].index[0]
    distances = similarity[movie_index]
    movies_list = sorted(list(enumerate(distances)), reverse = True , key = lambda x:x[1])[1:5]
    for i in movies_list:
        print(new_df.iloc[i[0]].title)

    return

In [63]:
recommend('Avatar')

Aliens vs Predator: Requiem
Falcon Rising
Independence Day
Titan A.E.

In [64]:
import pickle
pickle.dump(new_df,open('movies.pkl', 'wb'))

In [65]:
new_df['title'].values

array(['Avatar', "Pirates of the Caribbean: At World's End", 'Spectre',
       ..., 'Signed, Sealed, Delivered', 'Shanghai Calling',
       'My Date with Drew'], dtype=object)

In [66]:
pickle.dump(new_df.to_dict(),open('movie_dict.pkl','wb'))

In [67]:
pickle.dump(similarity,open('similarity.pkl','wb'))